body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 2rem;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  background-color: rgba(29, 168, 199, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.nav__logo > h1 {
  color: white;
  display: inline;
  position: static;
}

#logo {
  width: 50px;
  height: auto;
  border: 2px solid white;
  border-radius: 100%;
  margin: 10px;
  z-index: 2;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links ul {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links ul li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav__links ul li a {
  text-decoration: none;
  color: white;
}

.nav__links ul li a:hover {
  color: rgb(29, 168, 199);
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav__links div.login a {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(29, 168, 199);
  text-decoration: none;
}
.nav-bar {
  width: 100%;
  height: 70px;
  background-color: rgb(29, 168, 199);
  position: relative;
}

.link-Logo {
  position: absolute;
  width: 2.7%;
  height: 40px;
  top: 20%;
  left: 1%;
  border-radius: 20px;
  background-color: lightgray;
}

.h1-Home {
  position: absolute;
  top: -20%;
  left: 36%;
  text-align: center;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Symptonen {
  position: absolute;
  top: -20%;
  left: 23%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Oorsprong {
  position: absolute;
  top: -20%;
  left: 24%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Behandeling {
  position: absolute;
  top: -20%;
  left: 20%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Inlog {
  position: absolute;
  top: -20%;
  left: 25%;
  font-family: sans-serif;
  font-size: x-large;
}

.link-Home {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 70%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Symptonen {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 55.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Oorsprong {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 41%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Behandeling {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 26.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Inlog {
  position: absolute;
  width: 6%;
  height: 40px;
  top: 20%;
  left: 90%;
  border-radius: 20px;
  background-color: lightgray;
}

/*Dit zijn alle divjes voor de foto's*/
.grid-item {
  position: relative;
  font-size: 12px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: white;
}

/*Dit is de div over alle divjes en foto's*/
.grid-container-symptomen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  grid-gap: 3rem;
  border-radius: 20px 20px 20px 20px;
  margin: 75px;
  padding: 75px;
  background-color: aliceblue;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}
/*Dit is voor de tekst die boven de foto's staan*/
.symptonen-text {
  text-align: center;
  font-size: 20px;
}
/*Dit is voor alle foto's die in de divjes staan*/
.symptonen-img {
  object-fit: cover;
  width: 75%;
  max-height: 100%;
  border-radius: 25px;
}
/*Voor de tekst bovenaan aan de pagina*/
.symptonen-title {
  text-align: center;
  margin: 75px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 80px 15px 80px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}
/*Dit is voor de overlay van de symptonen page*/
.symptonen-overlay {
  border-radius: 25px;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0;
  color: white;
  font-size: 18px;
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  background-color: rgba(29, 168, 199, 0.9);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: -100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*hierdoor gaat de overlay over de img heen*/
.grid-item-symptonen:hover,
.symptonen-overlay:hover {
  opacity: 1;
}

.grid-container-oorsprong {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 75px;
  grid-gap: 3rem;
}
.grid-container-oorsprong > div {
  font-size: 18px;
  text-align: left;
  background-color: aliceblue;
}

.grid-item-oorsprong-1 {
  background-image: url("../Autisme-project/oorsprong/img/Leo-Kanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 15px 80px 15px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  transition: 0.2s all ease-in-out;
  padding: 30px;
}

.grid-item-oorsprong-1:hover {
  transform: translate(5px, 5px);
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.grid-item-oorsprong-2 {
  grid-column: 2;
  grid-row: 1 / span 3;
  padding: 30px;
  border-radius: 15px 15px 15px 80px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-oorsprong-3 {
  grid-column: 1;
  grid-row: 3 / span 4;
  padding: 30px;
  border-radius: 80px 15px 80px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-oorsprong-4 {
  grid-column: 2;
  grid-row: 4 / span 4;
  padding: 30px;
  border-radius: 80px 15px 15px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-oorsprong-5 {
  grid-column: 1;
  grid-row: 7 / span 4;
  padding: 30px;
  border-radius: 15px 15px 80px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-oorsprong-5 > img {
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.grid-item-oorsprong-6 {
  grid-column: 2;
  grid-row: 8 / span 3;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}

.grid-container-homepage {
  display: grid;
  grid-template-rows: 650px 500px 500px;
}

.grid-container-homepage > div {
  background-color: #ababab;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: left;
}

.grid-item-homepage-1 {
  background-image: url("../Autisme-project/homepage/img/kind-blauwachtergrond.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-homepage-2 {
  background-image: url("../Autisme-project/homepage/img/kids-in-classroom-og.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.grid-item-homepage-3 {
  background-image: url("../Autisme-project/homepage/img/kid-in-playground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

#textbox-1-homepage {
  box-sizing: border-box;
  position: absolute;
  padding: 50px;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 15px 15px 80px 15px;
  margin: 25px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

#textbox-2-homepage {
  box-sizing: border-box;
  position: relative;
  float: right;
  padding: 50px;
  width: 500px;
  height: 300px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px 50px 20px 50px;
  margin: 25px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

#textbox-3-homepage {
  box-sizing: border-box;
  position: relative;
  float: left;
  padding: 50px;
  width: 800px;
  height: 400px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px 50px 20px 50px;
  margin: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bluebar-1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 5px;
  height: 320px;
  background-color: rgb(29, 168, 199);
  border-radius: 25px;
}

.bluebar-2 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 5px;
  height: 220px;
  background-color: rgb(29, 168, 199);
  border-radius: 25px;
}

footer {
  position: relative;
  display: block;
  padding: 25px;
  height: 25px;
  background-color: rgb(29, 168, 199);
  color: white;
  text-align: center;
  margin-top: 20px;
}

.grid-container-informatie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin: 75px;
}

.grid-item-wegwijs {
  color: rgb(29, 168, 199);
  background-color: white;
  text-align: center;
  grid-column: 1 / span 12;
  grid-row: auto;
  font-size: 30px;
}

.grid-item-space {
  color: rgb(29, 168, 199);
  background-color: white;
  text-align: center;
  grid-column: 1 / span 12;
  grid-row: auto;
  margin: 10px 0px;
  font-size: 30px;
}

.grid-item-informatie-1 {
  grid-column: 1 / span 7;
  grid-row: auto;
  padding: 30px;
  border-radius: 15px 80px 15px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: aliceblue;
  font-size: 18px;
}

.grid-item-informatie-2 {
  grid-column: 8 / span 5;
  grid-row: 1;
  background-image: url("informatie/img/kind.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 15px 80px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: aliceblue;
}

.grid-item-informatie-3 {
  grid-column: 1 / span 4;
  grid-row: auto;
}

.grid-item-informatie-4 {
  grid-column: 5 / span 4;
  grid-row: auto;
}

.grid-item-informatie-5 {
  grid-column: 9 / span 4;
  grid-row: auto;
}

.grid-item-informatie-3 > h3,
.grid-item-informatie-4 > h3,
.grid-item-informatie-5 > h3 {
  background-color: aliceblue;
  padding: 25px 0px;
  font-size: 25px;
}

.grid-item-informatie-3 > img,
.grid-item-informatie-4 > img,
.grid-item-informatie-5 > img {
  object-fit: cover;
  width: 100%;
  height: 225px;
  border-radius: 30px 30px 0px 0px;
}

.grid-item-informatie-3,
.grid-item-informatie-4,
.grid-item-informatie-5 {
  box-shadow: 0 30px 30px rgb(0 0 0 / 10%);
  transition: 0.2s all ease-in-out;
  border-radius: 30px;
  text-align: center;
  color: rgb(29, 168, 199);
  background-color: aliceblue;
}

.grid-item-informatie-3:hover,
.grid-item-informatie-4:hover,
.grid-item-informatie-5:hover {
  transform: translate(5px, 5px);
  box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
}

.grid-item-informatie-6 {
  grid-column: 1 / span 5;
  grid-row: auto;
  padding: 30px;
  border-radius: 15px 80px 15px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: aliceblue;
  font-size: 18px;
}

.grid-item-informatie-6 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 15px 15px;
}

.grid-item-informatie-7 {
  grid-column: 6 / span 7;
  grid-row: auto;
  padding: 30px;
  border-radius: 15px 15px 15px 80px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: aliceblue;
  font-size: 18px;
}

.grid-item-informatie-8 {
  grid-column: 1 / span 7;
  grid-row: auto;
  padding: 30px;
  border-radius: 15px 80px 15px 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-color: aliceblue;
  font-size: 18px;
}

.grid-item-informatie-9 {
  grid-column: 8 / span 5;
  grid-row: auto;
  padding: 30px;
  border-radius: 15px 15px 15px 80px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  background-image: url("informatie/img/smiling-kid.png");
  background-size: cover;
  background-color: aliceblue;
}

.grid-container-behandeling {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, fr);
  grid-gap: 3rem;
  margin: 75px;
}

.grid-container-behandeling > div {
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: aliceblue;
  padding: 30px;
}

.grid-container-behandeling > div > img {
  object-fit: cover;
  width: 80%;
  max-height: 100%;
}

.grid-item-behandeling-1 {
  grid-column: 1;
  grid-row: 1;
  border-radius: 80px 15px 80px 15px;
}

.grid-item-behandeling-2 {
  grid-column: 2;
  grid-row: 1;
  border-radius: 15px 80px 15px 80px;
}

.grid-item-behandeling-3 {
  grid-column: 2;
  grid-row: 2;
  border-radius: 80px 15px 80px 15px;
}

.grid-item-behandeling-4 {
  grid-column: 1;
  grid-row: 2;
  border-radius: 15px 80px 15px 80px;
}
