body {
  padding: 0;
  margin: 0;
}
.nav-bar {
  width: 100%;
  height: 70px;
  background-color: rgb(29, 168, 199);
  position: fixed;
}

.link-Logo {
  position: absolute;
  width: 2.7%;
  height: 40px;
  top: 20%;
  left: 1%;
  border-radius: 20px;
  background-color: lightgray;
}

.h1-Home {
  position: absolute;
  top: -20%;
  left: 33%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Symptonen {
  position: absolute;
  top: -20%;
  left: 16%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Oorsprong {
  position: absolute;
  top: -20%;
  left: 18%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Behandeling {
  position: absolute;
  top: -20%;
  left: 12%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Inlog {
  position: absolute;
  top: -20%;
  left: 20%;
  font-family: sans-serif;
  font-size: x-large;
}

.link-Home {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 70%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Symptonen {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 55.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Oorsprong {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 41%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Behandeling {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 26.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Inlog {
  position: absolute;
  width: 6%;
  height: 40px;
  top: 20%;
  left: 90%;
  border-radius: 20px;
  background-color: lightgray;
}

.parent{
  position: relative;
  top: 0;
  left: 0;
}

.kind-blauwachtergrond {
  position: relative;
  width: 1752px;
  height: 900px;
  left: 4%;
  top: 100px;
  border-radius: 30px;
}

.Text-Homepage{
  position: absolute;
  width: 1200px;
  height: 700px;
  left: 8%;
  top: 18%;
  background-color: aliceblue;
  border-radius: 30px;
  opacity: 0.7;
}

.grid-item {
  position: relative;
  font-size: 12px;

}
.symptonen-grid {
  position: relative;
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.symptonen-text {
  text-align: center;
  font-size: 20px;
}
.symptonen-img {
  width: 353.25px;
  height: 204px;
}
.symptonen-title {
  text-align: center;
}