body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  background-color: rgb(29, 168, 199);
  font-family: Arial, Helvetica, sans-serif;
}

.nav__logo {
  color: white;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links ul {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links ul li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav__links ul li a {
  text-decoration: none;
  color: white;
}

.nav__links ul li a:hover {
  color: rgb(29, 168, 199);
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav__links div.login a {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(29, 168, 199);
  text-decoration: none;
}
.nav-bar {
  width: 100%;
  height: 70px;
  background-color: rgb(29, 168, 199);
  position: relative;
}

.link-Logo {
  position: absolute;
  width: 2.7%;
  height: 40px;
  top: 20%;
  left: 1%;
  border-radius: 20px;
  background-color: lightgray;
}

.h1-Home {
  position: absolute;
  top: -20%;
  left: 36%;
  text-align: center;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Symptonen {
  position: absolute;
  top: -20%;
  left: 23%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Oorsprong {
  position: absolute;
  top: -20%;
  left: 24%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Behandeling {
  position: absolute;
  top: -20%;
  left: 20%;
  font-family: sans-serif;
  font-size: x-large;
}

.h1-Inlog {
  position: absolute;
  top: -20%;
  left: 25%;
  font-family: sans-serif;
  font-size: x-large;
}

.link-Home {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 70%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Symptonen {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 55.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Oorsprong {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 41%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Behandeling {
  position: absolute;
  width: 13%;
  height: 40px;
  top: 20%;
  left: 26.5%;
  border-radius: 20px;
  background-color: lightgray;
}

.link-Inlog {
  position: absolute;
  width: 6%;
  height: 40px;
  top: 20%;
  left: 90%;
  border-radius: 20px;
  background-color: lightgray;
}

.parent{
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-top: 20px;
}

.kind-blauwachtergrond {
  position: relative;
  width: 1752px;
  height: 900px;
  left: 4%;
  top: 100px;
  border-radius: 30px;
}

.Text-Homepage{
  position: absolute;
  width: 1200px;
  height: 700px;
  left: 8%;
  top: 10%;
  background-color: aliceblue;
  border-radius: 30px;
  opacity: 0.7;
}

.h1-Homepage{
  padding: 3rem;
  font-family: sans-serif;
}

.bluebar{
  position: absolute;
  top: 11%;
  left: 2%;
  width: 5px;
  height: 320px;
  background-color: rgb(29, 168, 199);
}

.background2{
  position: relative;
  width: 1752px;
  height: 500px;
  top: 200px;
  left: 4%;
  background-color: rgb(29, 168, 199);
  border-radius: 30px;
}

.background2-text{
  position: relative;
  width: 1000px;
  top: 10%;
  height: 400px;
  left: 40%;
  border-radius: 30px;
  background-color: aliceblue;
  opacity: 0.7;
}

.background2-h1{
  padding: 3rem;
  font-family: sans-serif;
}

.background-quiz{
  position: relative;
  width: 1752px;
  height: 300px;
  top: 300px;
  left: 4%;
  border-radius: 30px;
  background-color: rgb(29, 168, 199);
}

.homepagequiz-h1{
  padding: 3rem;
  font-family: sans-serif;
}

.Homepage-Footer{
  position: absolute;
  left: 0;
  bottom: -600px;
  width: 100%;
  height: 200px;
  background-color: rgb(29, 168, 199);
  color: white;
  text-align: center;
}

/*Dit zijn alle divjes voor de foto's*/
.grid-item-symptonen {
  position: relative;
  font-size: 12px;
  border: 1px black solid;
  margin: 1px;
}
/*Dit is de div over alle divjes en foto's*/
.symptonen-grid {
  position: relative;
  margin-top: 4.5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/*Dit is voor de tekst die boven de foto's staan*/
.symptonen-text {
  text-align: center;
  font-size: 20px;
}
/*Dit is voor alle foto's die in de divjes staan*/
.symptonen-img {
  width: 353.25px;
  height: 204px;
}
/*Voor de tekst bovenaan aan de pagina*/
.symptonen-title {
  text-align: center;
}
/*Dit is voor de overlay van de symptonen page*/
.symptonen-overlay {
  position: absolute;
  /* overlap on grid-item */
  top: 0;
  z-index: 1;
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(29, 168, 199, 0.8);
}
/*de text voor overlay-text van de symptonen page*/
.symptonen-overlay-text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/*hierdoor gaat de overlay over de img heen*/
.grid-item-symptonen:hover .symptonen-overlay {
  opacity: 1;
}